<nav class="navbar navbar-expand-lg navbar-light bg-light backColor shadow border-bottom border-2 border-white">
    <div class="container-fluid ">
        <a class="navbar-brand textColor" href="#"><i class="bi bi-book-fill fs-3 "></i></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active text-white fs-5" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white fs-5" href="#" id="navbarDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Recommendation
                    </a>
                    <ul class="dropdown-menu notificationColor z-100" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item fs-5" href="/BookRecommender">BOOKS</a></li>
                        <li><a class="dropdown-item fs-5" href="/MusicRecommender">MUSICS</a></li>
                        <li><a class="dropdown-item fs-5" href="/MoviesRecommender">MOVIES</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item fs-5" href="/MedicineRecommender">MEDICINE</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link fs-5 text-white" href="/Gallery" tabindex="-1" aria-disabled="true">Gallery</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link fs-5 text-white" href="/SendMessages" tabindex="-1" aria-disabled="true">Feedback</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link fs-5 text-white" href="/AboutUs" tabindex="-1" aria-disabled="true">About Us</a>
                </li>
            </ul>
            <div class="d-flex">
                <h5 class="text-white">OBJECT RECOMMENDATION</h5>
            </div>
        </div>
    </div>
</nav>